* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #373737;
}
.app-container {
  margin: 50px;
}
.timer {
  font-size: 125px;
}
.btn {
  box-sizing: border-box;
  font-size: 20px;
  width: 80px;
}
