* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "Grandstander", cursive;
  color: #373737;
}
.title {
  font-size: 2.5em;
  margin-top: 30px;
}
.combat {
  margin: 30px 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.poke {
  margin: 10px 0px;
  width: 50%;
  min-width: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.poke-img1,
.poke-img2 {
  margin-bottom: 10px;
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.poke h2 {
  font-size: 2em;
  font-weight: bold;
}
.poke p {
  font-size: 1.5em;
}
span {
  font-weight: bold;
}

.fight {
  font-family: "Grandstander", cursive;
  width: 120px;
  height: 40px;
  font-size: 2em;
  cursor: pointer;
}
